
<mat-card>
<mat-card-header>        
    <mat-card-title>Save Author</mat-card-title>        
</mat-card-header>
<form>
  <mat-form-field class="example-full-width">
    <textarea matInput name="first_name" [(ngModel)]="author.first_name" placeholder="First Name"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput name="last_name" [(ngModel)]="author.last_name" placeholder="Last Name"></textarea>
  </mat-form-field>
      
    <div class="actions">
        <button (click)="submit()" mat-raised-button color="primary">Salvar</button>     
        <button (click)="back()" mat-raised-button>Voltar</button>         
    </div>
  </form>
</mat-card>